rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Check if user is authenticated
    function isSignedIn() {
      return request.auth != null;
    }
    
    // Check if user has admin role
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    
    // Users Profile
    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if request.auth.uid == userId || isAdmin();
    }
    
    // Attendance Records
    match /attendance/{atId} {
      allow read: if request.auth.uid == resource.data.uid || isAdmin();
      allow create: if isSignedIn() && request.resource.data.uid == request.auth.uid;
      allow update: if request.auth.uid == resource.data.uid || isAdmin();
    }
    
    // Tasks
    match /tasks/{taskId} {
      allow read: if request.auth.uid == resource.data.assignedTo || isAdmin();
      allow create: if isAdmin();
      allow update: if request.auth.uid == resource.data.assignedTo || isAdmin();
      allow delete: if isAdmin();
    }
  }
}
